@import '../../variables';
@import '../../mixin.scss';

.new-article {
    @include form;
    width: 938px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;

    &__title {
        @include title;
    }
}

.label__input {
    @include label__input;
    margin-top: 21px;
}

.input {
    @include input;
}

label:first-of-type {
    margin-top: 0;
}

.form__wrapper {
    display: grid;
    grid-template-columns: 300px auto auto;
    gap: 17px;
    justify-content: left;
    margin-bottom: 5px;
}

.btn {
    &__submit {
        @include button_submit;
        margin-top: 21px;
        width: 317px;
    }
    
    &__delete {
        @include button_delete;
    }

    &__add-tag {
        @include button_add-tag;
    }
}

.error_message {
    @include error_message;
}