@import '../../variables.scss';
@import '../../mixin.scss';

.article {
    @include form;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 15px;
    column-gap: 60px;
    row-gap: 25px;

    &__title {
        color: $blue-color;
        font-size: 20px;
        line-height: 28px;
        margin-right: 13px;
        word-break: break-word;
    }

    &__like {
        display: inline-flex;
        align-items: center;
        gap: 3px;
    }

    &__heart {
        width: 16px;
        height: 16px;
    }

    &__tags {
        line-height: 15px;
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
    }

    &__userName {
        font-size: 18px;
        line-height: 28px;
        color: $heading-color;
    }

    &__date {
        color: $text-color-secondary;
        line-height: 12px;
    }

    &__avatar {
       @include avatar;
    }

    &__description {
        word-break: break-word;
    }

    &__text {
        grid-column: 1/3;
    }
}

.articleInfo {
    display: grid;
    gap: 4px;
}

.userInfo {
    display: flex;
    gap: 12px;

}