@import '../../variables.scss';
@import '../../mixin.scss';

.header {
    background-color: $white-color;
    padding: 16px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $heading-color;
    font-size: 18px;
    line-height: 28px;

    &__authorization {
        display: flex;
        gap: 27px;
        justify-content: space-between;
        align-items: center;
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 13px;
    }

    &__avatar {
        @include avatar;
     }
}

.btn {
    &__signIn {
        padding: 6px 8px;
    }

    &__signUp {
        padding: 6px 18px;
        color: $green-color;
        border: 1px solid $green-color;
        border-radius: $border-radius-input;
    }

    &__create-article {
        color: $green-color;
        border: 1px solid $green-color;
        border-radius: $border-radius-input;
        font-size: 14px;
        line-height: 20px;
        padding: 5px 10px;
    }

    &__logOut {
        padding: 6px 18px;
        border: 1px solid $heading-color;
        border-radius: $border-radius-input;
    }

    
}