@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #EBEEF3;
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: $text-color;
}

button {
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit
}

textarea {
  font: inherit;
}

:global(.ant-pagination .ant-pagination-item) {
  background-color: transparent;
}

:global(.ant-pagination .ant-pagination-item-active) {
  background-color: $blue-color;
  border: none;   
  
}

:global(.ant-pagination .ant-pagination-item-active a) { 
  color: $white-color;
}

:global(.ant-tag) {
  background-color: transparent;
  border-color: $text-color-secondary;
  color: $text-color;
}