$white-color: rgba(255, 255, 255);
$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$light-gray-color: rgba(191, 191, 191);
$blue-color: rgba(24, 144, 255);
$red-color: rgba(245, 34, 45);
$green-color: rgba(82, 196, 26);

$border-radius-form: 6px;
$border-radius-input: 4px;
$shadow: 0 3px 15px -6px $text-color-secondary;